section.categories
	.container
		.all-categories.content
			.categories-nav
				ul
					li
						a(href="#") All
					li
						a(href="#") Spring-summer
					li
						a(href="#") Seatshirt
					li
						a(href="#") Sneakers
					li
						a(href="#") Gatgets
					li
						a(href="#") Outdoor