.container
	section.products
		p.products__title Products types
		p.products__discount Up to 30% discount
		.products__block
			.products__element
				img(src="assets/img/product1.jpg", alt="Alt").products__img
				a(href="#").products__button Shop men
			.products__element
				img(src="assets/img/product2.jpg", alt="Alt").products__img
				a(href="#").products__button Shop womem
			.products__element
				img(src="assets/img/product3.jpg", alt="Alt").products__img
				a(href="#").products__button  Shop kids