section.featured
	.container
		section.categories
			.all-categories.content
				p.featured__title Featured products
				.categories-nav
					ul
						li
							a(href="#") All
						li
							a(href="#") Spring-summer
						li
							a(href="#") Seatshirt
						li
							a(href="#") Sneakers
						li
							a(href="#") Gatgets
						li
							a(href="#") Outdoor
		.featured__block
			.featured__navigation.featured__navigation--prev
				+icon('triangle-left', 'featured__navigation-icon')
			.featured__navigation.featured__navigation--next
				+icon('triangle-right', 'featured__navigation-icon')
			.js-featured
				.featured__element
					img(src="assets/img/featured1.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured2.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured3.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured4.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured1.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured2.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured3.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
				.featured__element
					img(src="assets/img/featured4.jpg", alt="alt")
					p
						a(href="#") Ted Baker womens Light
					p.featured__brand Gucci
					p.featured__price #[span $70.00] $120.00
		a(href="#").featured__button Show more
