.container
	section.banner.banner--bottom
		.banner__information.banner__information--left
			p.banner__title Subscribe to our newsletter
			p.banner__action Sign up now and get 75% off
			a.banner__button.banner__button--black(href="#") Sig up now