.container
	section.offers     
		.offers__left
			.offers__element
				img(src="assets/img/offer1.jpg", alt="Alt")
				.offers__info
					p.offers__two-get Buy 2 get #[br] up 50% off
			.offers__element
				img(src="assets/img/offer2.jpg", alt="Alt")
		.offers__center
			.offers__element
				img(src="assets/img/offer3.jpg", alt="Alt")
				.offers__info
					p.offers__category Winter Jacket
					p.offers__name Vintage Look #[br] For Women
					a(href="#") Shop now
				span.offers__new New
		.offers__right
			.offers__element
				img(src="assets/img/offer4.jpg", alt="Alt")
				.offers__info
					p.offers__category Winter Jacket
					p.offers__name Fashion #[br] For Men
					a(href="#") Shop Now
			.offers__element.offers__element--glasses
				img(src="assets/img/offer5.jpg", alt="Alt")
				.offers__info
					p 40% off on sunglasses
				span.offers__new New