.container
	section.banner
		.banner__information.banner__information--right
			p.banner__title We offer brand new styles
			p.banner__action Sign up now and get 50% off
			a.banner__button.banner__button--white(href="#") See fool collection