section.links
	.container
		.links__items
			.links__item
				p.links__title Information
				p
					a(href="#") The brand
				p
					a(href="#") Local stores
				p
					a(href="#") Customer service
				p
					a(href="#") Privacy & cookies
				p
					a(href="#") Site map
			.links__item
				p.links__title My profile
				p
					a(href="#") Getting Started
				p
					a(href="#") FAQs
				p
					a(href="#") Buying gide
				p
					a(href="#") Order Returns
				p
					a(href="#") Affiliate Program
			.links__item
				p.links__title Your account
				p
					a(href="#") Shipping & returns
				p
					a(href="#") Secure shopping
				p
					a(href="#") Testimonials
				p
					a(href="#") Award winning
				p
					a(href="#") Ethical trading
			.links__item
				p.links__title Lookbook
				p
					a(href="#") Getting Started
				p
					a(href="#") FAQs
				p
					a(href="#") Buying gide
				p
					a(href="#") Order Returns
				p
					a(href="#") Affiliate Program
			.links__item.links__item--wide
				p.links__title Contact details
				p #[span Telephone:] 0123-456-789 
				p #[span Email:] free@psdfreebies.com
				p #[span Head Office:] 245 Yellow House,Main Street, London. 456789