section.blogs
	.container
		p.blogs__title  Our blogs & news 
		.blogs__items
			.blogs__item
				img(src="assets/img/blog.jpg", alt="alt")
				.blog__info
					p.blog__topic
						a(href="#") The 15 Secrets About Fashion People
					p.blog__date January 12, 2020 by admin
			.blogs__item
				img(src="assets/img/blog2.jpg", alt="alt")
				.blog__info
					p.blog__topic
						a(href="#") The 15 Secrets About Fashion People
					p.blog__date January 12, 2020 by admin
