.slider
	.slider__item
		.slider__img
			img(src="assets/img/slide.png", alt="Slider image")
		.slider__info
			p.slider__title Summer Collection
			p.slider__type 01 #[span Men's wear]
			.slider__icons
				a(href="#")
					+icon('arrow-right')
				a(href="#")
					+icon('heart')
				a(href="#")
					+icon('connect')
			p Continually pursue covalent ROI rather than process-centric "outside the box" thinking. Assertively incentivize an expanded array of applications without alternative expertise. Efficiently productivate state of.
			a(href="#").slider__btn Shop Now