+md-block
	.top__left
		flex-basis: 100%
		text-align: center
		margin-bottom: 15px
	.top__menu
		flex-basis: 80%

+xs-block
	.top__menu
		flex-basis: 100%
		margin-bottom: 15px
	.top__right
		flex-basis: 100%
		justify-content: center

