+xl-block
	p.slider__title
			+rem(70px)
			line-height: 80px

@media screen and (max-width: 1024px)
	.offers
		flex-wrap: wrap
		&__right
			flex-basis: 100%
			display: block
		&__element
			max-width: 371px
			margin: 20px auto
		&__center
			margin: 0

@media screen and (max-width: 930px)
	.banner__title
		+rem(20px)

@media screen and (max-width: 900px)
	.slider__img
		display: none
	.slider__info
		width: 100%
		padding-left: 0
	.slider__navigation
		&--next
			right: 5px
		&--prev
			left: 5px
	.banner__information--left
		margin-left: 0
@media screen and (max-width: 810px)
	.banner
		background-position: 3% center
	.banner--bottom
		background-position: 100% center
@media screen and (max-width: 800px)
	.offers
		.offers__left
			flex-basis: 100%
			display: block
			.offers__element
				max-width: 277px
				margin: 20px auto
		.offers__center
			flex-basis: 100%
			display: block
			.offers__element
				max-width: 470px
				margin: 0 auto

+md-block
	.top__left
		flex-basis: 100%
		text-align: center
		margin-bottom: 15px
	.top__menu
		flex-basis: 80%
	p.slider__title
		font-size: 40px
		line-height: 50px
		letter-spacing: 1px
	.slider__info
		.slider__icons, p
			margin: 15px 0
	.categories
		margin: 25px 0
		li
			margin: 5px
		a
			+rem(16px)
	.content
		margin-top: 30px
	.offers
		margin: 25px 0
		.offers__center
			.offers__info
				top: 50px
		.offers__right
			.offers__info
				top: 15px
	.offers__element--glasses
		.offers__info
			top: auto
	.banner
		background: #00b7d9
		&__information
			flex-basis: 100%
			padding: 0 10px
	.banner--bottom
		background: #d7dbd5
		margin: 25px 0
	.products
		margin: 25px 0
	.blogs
		margin-top: 25px
		&__item
			+size(12)
			img
				width: 100%
	.blog__info
		width: calc(100% - 20px)
@media screen and (max-width: 640px)
	.products
		&__element
			+size(6)
			margin: 0 auto
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
+xs-block
	.top__menu
		flex-basis: 100%
		margin-bottom: 15px
	.top__right
		flex-basis: 100%
		justify-content: center
	.slider__item
		padding: 0 15px
	p.slider__title
		+rem(30px)
		line-height: 40px
	.slider__navigation
		display: none
	.banner
		&__title
			+rem(18px)
	.products
		&__element
			+size(12)
	

