extends ../_template

block variables
  - var title = 'verstka-shop'
  - var pageClass = 'index-page'

block content
  //include ../elements/_debug
  include ../common/_header
  include ../common/_slider
  include ../common/_section-categories
  include ../common/_section-offers
  include ../common/_section-banner
  include ../common/_section-products
  include ../common/_section-featured
  
  
  
